*
!.gitattributes
!.gitignore
!.luacheckrc
!/README.md

!Audio
!Audio/**
!AutoBackup
!AutoBackup/**
!Crash
!Crash/**
!CThruShields
!CThruShields/**
!CustomResolutions
!CustomResolutions/**
!CustomViewBoilerplate
!CustomViewBoilerplate/**
!DarktideLocalServer
!DarktideLocalServer/**
!DelayedMessages
!DelayedMessages/**
!ElevatorMusic
!ElevatorMusic/**
!ForTheEmperor
!ForTheEmperor/**
!Jukebox
!Jukebox/**
!PrivateMissionStatus
!PrivateMissionStatus/**
!PreventPlayerFade
!PreventPlayerFade/**
!ScrubsVermin
!ScrubsVermin/**
!ToggleHUD
!ToggleHUD/**
!WillOfTheEmperor
!WillOfTheEmperor/**

*/*.*
_Files
_Files/**
Audio/media
Audio/media/**
!/*/README.md
!/*/*.mod
