*
!.gitignore
!.luacheckrc
!/README.md


!Crash
!Crash/**
!CustomResolutions
!CustomResolutions/**
!DelayedMessages
!DelayedMessages/**
!ForTheEmperor
!ForTheEmperor/**
!PrivateMissionStatus
!PrivateMissionStatus/**
!PreventPlayerFade
!PreventPlayerFade/**

*/*.*
!/*/README.md
!/*/*.mod
